# Секретные ключи и авторизация
authorized_key.json
*.json
*.pem
*.key

# Настройки среды разработки
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Логи приложения
*.log
logs/

# Документация и Git
.git
.gitignore
.README.md

# Скрипты автоматизации и их файлы
deploy.ps1
docker-version.txt