# Секретные ключи и авторизация
authorized_key.json
*.json
*.pem
*.key

# Локальные сборки и артефакты компиляции
target/
*.jar
*.war
build/

# Настройки среды разработки
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Логи приложения
*.log
logs/

# Документация и Git
.git
.gitignore
.README.md